##### lists #####

In [32]:
ratings=[4.5,3.8,4.9,2.7,3.5,4.2]
ratings.append(4.7)
print("after adding one rating then the list is:",ratings)
ratings.remove(min(ratings))
print("after deleting lowest rating then the list is:",ratings)
print("the highest rating in the list is:",max(ratings))
sum=0
for rating in ratings:
    sum += rating
print("sum of all ratings:",sum)
average_rating=sum/len(ratings)
print("Average rating of given list is:",average_rating)

after adding one rating then the list is: [4.5, 3.8, 4.9, 2.7, 3.5, 4.2, 4.7]
after deleting lowest rating then the list is: [4.5, 3.8, 4.9, 3.5, 4.2, 4.7]
the highest rating in the list is: 4.9
sum of all ratings: 25.6
Average rating of given list is: 4.266666666666667

##### tuples #####

In [62]:
itinerary=("Paris","London","New York","Dubai","Tokyo")
list1=list(itinerary)
list1[3]="Singapore"
print("after converting itinerary tuple into list and replaced dubai with Singapore:",list1)
updated_itinerary=tuple(list1)
print("updated itinerary tuple is:",(updated_itinerary))
print("first three destinations:",updated_itinerary[0:3])

after converting itinerary tuple into list and replaced dubai with Singapore: ['Paris', 'London', 'New York', 'Singapore', 'Tokyo']
updated itinerary tuple is: ('Paris', 'London', 'New York', 'Singapore', 'Tokyo')
first three destinations: ('Paris', 'London', 'New York')

##### dictionaries #####

In [86]:
salaries={
    "Alice":5000,
    "Bob":7000,
    "Charlie":6500
}
salaries["David"]=6000
print("after adding new employee into dictionary:",salaries)
salaries["Bob"]=7500
print("after updating the bob salary:",salaries)
del salaries["Charlie"]
print("after deleting an employee from dictionary:",salaries)
employee_earn_6000={key for key,value in salaries.items() if value>6000}
print("persons who earn more than 6000:",employee_earn_6000)

after adding new employee into dictionary: {'Alice': 5000, 'Bob': 7000, 'Charlie': 6500, 'David': 6000}
after updating the bob salary: {'Alice': 5000, 'Bob': 7500, 'Charlie': 6500, 'David': 6000}
after deleting an employee from dictionary: {'Alice': 5000, 'Bob': 7500, 'David': 6000}
persons who earn more than 6000: {'Bob'}

##### lists and dictionaries #####

In [65]:
cart={
    "Laptop":1200,
    "Headphones":200,
    "Mouse":50,
    "Keyboard":100
}
cart["Monitor"]=300
print("after adding item in cart:",cart)
total_cost=sum(cart.values())
print("total cost of the cart:",total_cost)
discount=0.1*total_cost
print(f"you save {discount} rupees on this cart")
if total_cost>1000:
    print("amount to pay after discount:",total_cost-discount)
else:
    print("amount to pay:",total_cost)

after adding item in cart: {'Laptop': 1200, 'Headphones': 200, 'Mouse': 50, 'Keyboard': 100, 'Monitor': 300}
total cost of the cart: 1850
you save 185.0 rupees on this cart
amount to pay after discount: 1665.0

In [63]:
students = {
    "John": [85, 78, 92],
    "Emma": [90, 88, 79],
    "Liam": [76, 85, 80]
}
students["Sophia"] = [88, 91, 84]
print("After adding a student's details into dictionary:", students)
average_marks = {}
for student, marks in students.items():
    average = sum(marks) / len(marks)
    average_marks[student] = average
    print(f"The average marks of {student} are: {average:}")
top_student = max(average_marks)
print(f"The student with the highest average marks is {top_student} with an average of {average_marks[top_student]:}")

After adding a student's details into dictionary: {'John': [85, 78, 92], 'Emma': [90, 88, 79], 'Liam': [76, 85, 80], 'Sophia': [88, 91, 84]}
The average marks of John are: 85.0
The average marks of Emma are: 85.66666666666667
The average marks of Liam are: 80.33333333333333
The average marks of Sophia are: 87.66666666666667
The student with the highest average marks is Sophia with an average of 87.66666666666667