In [6]:
filename="students.txt"
with open(filename,"r") as file:
    content=file.read()
    print(content)

Nithin
Karthik
Harsha
Shankar
Jaya prakash

In [12]:
filename="grades.txt"
with open(filename,"w") as file:
    file.write("Nithin:A\nHarsha:A\nShankar:B\nKarthik:B\nJaya prakash:B")
    print("successfully wrote in the file")
with open(filename,"r") as file:
    content=file.read()
    print(content)

successfully wrote in the file
Nithin:A
Harsha:A
Shankar:B
Karthik:B
Jaya prakash:B

In [30]:
with open("contacts.txt","r") as file:
    content=file.read()
    print(content)
with open("contacts.txt","a") as file:
    file.write("karthik reddy,8688329808,karthikreddythumma@gmail.com")
    print("\nsuccessfully appended")

nithin,6305782910,nithin@gmail.com
harsha,8885677365,harsha@gmail.com
shankar,7989379876,shankar@gmail.comkarthik reddy,8688329808,karthikreddythumma@gmail.com

successfully appended

In [32]:
input_file = "log.txt"
output_file = "error_logs.txt"
with open(input_file, "r") as infile, open(output_file, "w") as outfile:
    for line in infile:
        if "ERROR" in line: 
            outfile.write(line) 
print("successfully stored in output_file")

successfully stored in output_file

In [25]:
import csv
filename = "students.csv"
highest_marks = -1
top_student = ""
with open(filename, "r") as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        name, marks = row[0], int(row[1]) 
        if marks > highest_marks: 
            highest_marks = marks
            top_student = name
print(f"{top_student}-{highest_marks}")

Karthik-99