<a href="https://colab.research.google.com/github/nithin-reddy45/HCL-Course/blob/main/hcl_assignment_normalization_module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler
import pandas as pd
data={
    "Brand":["Puma","Nike","Adidas","Sparx","Striker","One8"],
    "Colour":["White","Black","Brown","Green","Black","Blue"]
}
df=pd.DataFrame(data)
df
le=LabelEncoder()
df["Brand_Label"]=le.fit_transform(data["Brand"])
print(df)
data_ohe=pd.get_dummies(df,columns=["Colour"])
data_ohe

     Brand Colour  Brand_Label
0     Puma  White            3
1     Nike  Black            1
2   Adidas  Brown            0
3    Sparx  Green            4
4  Striker  Black            5
5     One8   Blue            2

,Brand,Brand_Label,Colour_Black,Colour_Blue,Colour_Brown,Colour_Green,Colour_White
0,Puma,3,False,False,False,False,True
1,Nike,1,True,False,False,False,False
2,Adidas,0,False,False,True,False,False
3,Sparx,4,False,False,False,True,False
4,Striker,5,True,False,False,False,False
5,One8,2,False,True,False,False,False

In [ ]:

from sklearn.preprocessing import LabelEncoder,MinMaxScaler,StandardScaler
import pandas as pd
data1={
    "Name":["Robo1","Robo2","Robo3","Robo4","Robo5"],
    "Height":[158,173,126,144,170],
    "Speed":[60,75,45,66,56]
}
df1=pd.DataFrame(data1)
print(df1)
numeric = df1[["Height", "Speed"]]
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(numeric)
normalized_df1 = pd.DataFrame(normalized_data, columns=['Height_Normalized', 'Speed_Normalized'])
df1 = pd.concat([df1['Name'], normalized_df1], axis=1)
print(df1)

    Name  Height  Speed
0  Robo1     158     60
1  Robo2     173     75
2  Robo3     126     45
3  Robo4     144     66
4  Robo5     170     56
    Name  Height_Normalized  Speed_Normalized
0  Robo1           0.680851          0.500000
1  Robo2           1.000000          1.000000
2  Robo3           0.000000          0.000000
3  Robo4           0.382979          0.700000
4  Robo5           0.936170          0.366667

In [ ]:
numeric = df1[["Height", "Speed"]]
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(numeric)
normalized_df1 = pd.DataFrame(normalized_data, columns=['Height_Normalized', 'Speed_Normalized'])
df1 = pd.concat([df1['Name'], normalized_df1], axis=1)
print(df1)

    Name  Height_Normalized  Speed_Normalized
0  Robo1           0.680851          0.500000
1  Robo2           1.000000          1.000000
2  Robo3           0.000000          0.000000
3  Robo4           0.382979          0.700000
4  Robo5           0.936170          0.366667